<div>
    <table id="apicies" border="2px">
    <caption>leaf apices</caption>
    <thead>
        <th>Type</th>
        <th>Description</th>
        <th>Link</th>
        <th>Image</th>
    </thead>
    <tbody>
        <tr>
            <td>Accuminate</td>
            <td>When a apex is drawn out as long pointed tail</td>
            <td><a href="https://www.youtube.com/watch?v=pKAG2HREOVE" target="blank">Accuminate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/n2/1.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Rounded</td>
            <td>Leaf tip is blunt with an rounded tip</td>
            <td><a href="https://www.youtube.com/watch?v=pKAG2HREOVE" target="blank">Rounded</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/n6/IMG-20190426-WA0009.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Obtuse</td>
            <td>Leaf tip is blunt with an angle greater than 90 degrees</td>
            <td><a href="https://www.youtube.com/watch?v=pKAG2HREOVE" target="blank">Obtuse</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf4/l4nr003.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Acute</td>
            <td>Leaf margins forming a terminal angle of 45 to 90 degrees</td>
            <td><a href="https://www.youtube.com/watch?v=pKAG2HREOVE" target="blank">Acute</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf5/l5nr005.jpg" width="300"></td>
        </tr>
      
    </tbody>
</table>

<table id="bases" border="2px">
    <caption>leaf bases</caption>
    <thead>
        <th>Type</th>
        <th>Description</th>
        <th>Link</th>
        <th>Image</th>
    </thead>
    <tbody>
        <tr>
            <td>Cuneate</td>
            <td>Narrow wedge-shaped with essentially straight sides, tapering to base; the leaf is attached at the narrow end</td>
            <td><a href="http://woodyplantstutorial.nres.illinois.edu/bases/bas-cuneate.html" target="blank">Cuneate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/n3/IMG_0023.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Rounded</td>
            <td> A leaf blade base that is curved at the apex with an angle greater than 90 degrees at the point where the two sides meet</td>
            <td><a href="http://sweetgum.nybg.org/science/glossary/glossary-details/?irn=3034#:~:text=Definition,where%20the%20two%20sides%20meet." target="blank">Rounded</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf8/l8nr001.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Cuordate</td>
            <td>Base is heart shaped</td>
            <td><a href="http://sweetgum.nybg.org/science/glossary/glossary-details/?irn=3037#:~:text=Definition,with%20a%20cordate%20leaf%20blade." target="blank">Cuordate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/n6/IMG-20190426-WA0009.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Acute</td>
            <td>Wedge-shaped; referring to the base of a leaf blade of which the angle formed by the meeting of the margins is less than 90°.</td>
            <td><a href="http://sweetgum.nybg.org/science/glossary/glossary-details/?irn=3033" target="blank">Acute</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf5/l5nr005.jpg" width="300"></td>
        </tr>
        <tr>
            <td>auriculate</td>
            <td>Ear-lobe shaped leaf base(s) attached to petiole</td>
            <td><a href="http://woodyplantstutorial.nres.illinois.edu/bases/bas-auriculate.html#:~:text=Auriculate%20Leaf%20Base,such%20as%20a%20White%20Oak." target="blank">auriculate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf4/l4nr001.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Attenuate</td>
            <td> A tapering base with concave margins that form an angle less than (<) 45 degrees</td>
            <td><a href="http://northernontarioflora.ca/leaf_bases.cfm#:~:text=Attenuate%20%2D%20a%20tapering%20base%20with,than%20(%3C)%2045%20degrees." target="blank">Attenuate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/n5/IMG-20190428-WA0014.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Hastate</td>
            <td>A leaf shaped like a spearhead with flaring pointed lobes at the base.</td>
            <td><a href="https://www.thefreedictionary.com/hastate+leaf" target="blank">Hastate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf2/l2nr004.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Oblique</td>
            <td> Unequal leaf bases, slanting, one side larger, wider or rounder than the other.</td>
            <td><a href="https://woodyplantstutorial.nres.illinois.edu/bases/bas-oblique.html" target="blank">Oblique</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf1/l1nr005.jpg" width="300"></td>
        </tr>
    </tbody>
</table>



<table id="margin" border="2px">
    <caption>leaf margins</caption>
    <thead>
        <th>Type</th>
        <th>Description</th>
        <th>Link</th>
        <th>Image</th>
    </thead>
    <tbody>
        <tr>
            <td>Serrate</td>
            <td> Leaf margins where the teeth are like those of a saw, continuous and forward pointing </td>
            <td><a href="https://lizzieharper.co.uk/2013/11/leaf-shape-margins-venation-and-position/#:~:text=Serrate%20margins%20are%20leaf%20margins,teeth%20tend%20to%20be%20rounded." target="blank">Serrate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf6/l6nr001.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Entire</td>
            <td>Leaves that are neither toothed, lobed, or compound, i.e. simple with smooth margins. </td>
            <td><a href="https://www.cs.rochester.edu/users/faculty/nelson/wildflowers/glossaries/leaves/index.html#:~:text=Terms%20describing%20the%20margin%20of%20the%20leaf&text=Margins%20without%20teeth%20or%20serrations,i.e.%20simple%20with%20smooth%20margins.&text=Margins%20with%20more%20or%20less,the%20plane%20of%20the%20leaf. " target="blank">Entire</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/n9/IMG_20180919_091447_1.jpg " width="300"></td>
        </tr>
        <tr>
            <td>Undulate</td>
            <td>Having a wavy surface, edge, or markings  </td>
            <td><a href="https://www.merriam-webster.com/dictionary/undulate" target="blank">Undulate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/n31/IMG-20190429-WA0016.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Sinuate</td>
            <td> Strongly wavy margins with shallowly rounded divisions within the same plane of the blade</td>
            <td><a href="https://woodyplantstutorial.nres.illinois.edu/margins/mar-sinuate.html" target="blank">Sinuate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/n5/IMG-20190428-WA0036.jpg" width="300"></td>
        </tr>
        <tr>
            <td>Doubly-Serrate</td>
            <td>Forward pointing teeth with each tooth (serration) having smaller serrations on it</td>
            <td><a href="http://woodyplantstutorial.nres.illinois.edu/margins/mar-doubly-ser.html#:~:text=The%20definition%20of%20doubly%2Dserrate,vase%2Dshaped%20habit%20helps%20too." target="blank">Doubly-Serrate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/n8/IMG-20190414-WA0021.jpg " width="300"></td>
        </tr>
        <tr>
            <td>Spinose</td>
            <td>Has spines along leaf margins or has tiny spines at nodes on stems. Often these spines occur on the margin where the leaf veins terminate at serrations at the leaf margin.</td>
            <td><a href="http://woodyplantstutorial.nres.illinois.edu/margins/mar-spinose.html" target="blank">Spinose</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf2/l2nr004.jpg " width="300"></td>
        </tr>
        <tr>
            <td>Serrulate</td>
            <td>minutely serrated. rough - of the margin of a leaf shape; having the edge cut or fringed or scalloped.</td>
            <td><a href="https://www.thefreedictionary.com/serrulate" target="blank">Serrulate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf3/l3nr001.jpg " width="300"></td>
        </tr>
        <tr>
            <td>Lobed</td>
            <td>rounded projections arising from the margins of a leaf blade that are cut less than one-half the distance to the midrib of the leaf blade</td>
            <td><a href="http://sweetgum.nybg.org/science/glossary/glossary-details/?irn=3041" target="blank">Lobed</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf4/l4nr001.jpg " width="300"></td>
        </tr>
        <tr>
            <td>Dentate</td>
            <td>having a toothed margin </td>
            <td><a href="https://infovisual.info/en/biology-vegetal/leaf-margins " target="blank">Dentate</a></td>
            <td><img  alt="..." src="http://localhost:5000//static/dataset/leaf8/l8nr004.jpg" width="300"></td>
        </tr>
    </tbody>
</table>
</div>