.body
{
    font-family: "montserrat";
    background-color: rgb(22, 104, 104);
}
li
{
    background-color:rgb(2, 56, 2);
    color: antiquewhite;
    text-align: center;
    font-size: 120%;
}
h1{
    font-size:150%;
    background-color:rgb(2, 56, 2);
    color: antiquewhite;
}
.heading
{
   text-align: center;
}
img{
    width: 30%;
    padding-right: 3%;
}
a{
    color: black;
}
p
{
    color: aliceblue;
    font-size:150%;
}